@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Newslist";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.newslist;
}

<section class="Breaking-News-list-Wrap">

    <!------------  breadcrumb  -------------->
    <div class="view">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href='@Url.Action("Index", "Home")'>首頁</a></li>
                <li class="breadcrumb-item"><a href='@Url.Action("Newslist", "Home")'>最新消息</a></li>
            </ol>
        </div>
    </div>


    <div class="content">
        <div class="content__wrap hheight">
            <h2 class="content__title top-banner">最新消息</h2>
        </div>

    </div>
    <div class="content">
        <div class="content__wrap content__photo">
            <ul class="ul-box">
                @if (Enumerable.Count(data) > 0)
                {

                    foreach (var i in data)
                    {
                        <li class="text-photo-box">
                            <a href='@Url.Action("NewsDetail", "Home", new { id = i.id })'></a>
                            <div class="dsp-flex">
                                <div class="text-box">
                                    <div class="txt">@i.tittle</div>
                                    <div>@DateTime.Parse((Convert.ToString(i.add_date))).ToString("yyyy/MM/dd")</div>
                                </div>
                                <div class="text-photo">
                                    <img src="@Url.Content(i.newsImg)" alt="">
                                </div>
                            </div>
                        </li>
                    }
                }

            </ul>
            <div align="center">
                @Html.PagedListPager((IPagedList)data, x => Url.Action("Newslist", new { page = x }))
            </div>
        </div>
    </div>
    
    <!------------  pagination  -------------->
    <div class="load-more mobile">
        <a class="page-link" id="loadMore" href="#">
            <span class="txt">看更多消息</span>
            <span class="icon"><img src="~/Content/images/icon/icon_arow.png" alt=""></span>

        </a>
    </div>

</section>
<link rel="stylesheet" href="~/Content/PagedList.css" />
<script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        getdata();
    });
    $(window).on('resize', function () {
        getdata();
    });
    function getdata() {
        if ($(window).width() < 767) {
            $("li.text-photo-box:hidden").slice(0, 5).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $("li.text-photo-box:hidden").slice(0, 5).slideDown();
                if ($("li.text-photo-box:hidden").length == 0) {
                    $(".load-more").fadeOut('slow');
                }
            });
        }
    }

</script>

