@using Microsoft.AspNet.Identity
@model FW2017.Models.News
@{
    /**/

    ViewBag.Title = "Edit";
}
<section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <div>
                編輯最新消息
                <small></small>
            </div>
        </div>
        <!-- START row-->
        <div class="row">
            <div class="col-xl-12">
                <form method="post" data-parsley-validate="" novalidate="" enctype="multipart/form-data">
                    <!-- START card-->
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="card-title">最新消息</div>
                            @Html.HiddenFor(model => model.id)
                            @Html.AntiForgeryToken()
                        </div>
                        <div class="card-body">
                            <input type="text" name="editor" value="@User.Identity.GetUserName()" style="display:none">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">是否顯示</label>
                                <div class="col-md-10">
                                    <label class="switch switch-lg">
                                        <input type="checkbox" id="is_show" name="is_show" value=@Model.is_show.ToString()>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 mb-3">
                                    <label class="col-form-label">上架日期</label>
                                    <div class="input-group date" id="datetimepicker1">
                                        @if (@Model.add_date != null)
                                        {
                                            <input class="form-control" name="add_date" type="text" value=@DateTime.Parse((Convert.ToString(@Model.add_date))).ToString("yyyy/MM/dd") autocomplete="off">
                                        }
                                        else
                                        {
                                            <input class="form-control" name="add_date" type="text" value=@DateTime.Now.ToString("yyyy/MM/dd") autocomplete="off">
                                        }
                                        <span class="input-group-append input-group-addon">
                                            <span class="input-group-text fas fa-calendar-alt"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="col-form-label">下架日期</label>
                                    <div class="input-group date" id="datetimepicker2">
                                        @if (@Model.remov_date != null)
                                        {
                                            <input class="form-control" name="remov_date" type="text" value=@DateTime.Parse((Convert.ToString(@Model.remov_date))).ToString("yyyy/MM/dd") autocomplete="off">
                                        }
                                        else
                                        {
                                            <input class="form-control" name="remov_date" type="text" autocomplete="off">
                                        }
                                        <span class="input-group-append input-group-addon">
                                            <span class="input-group-text fas fa-calendar-alt"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">*主標題</label>
                                @Html.EditorFor(model => model.tittle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tittle, null, new { @class = "text-danger" })
                            </div>
                            @*
                               <div class="form-group">
                               <label class="col-form-label">副標題</label>
                               @Html.EditorFor(model => model.subtittle, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.subtittle, null, new { @class = "text-danger" })
                           </div>
                            *@

                            <div class="form-group">
                                <label class="col-form-label">主圖片上傳<span>(請勿超過600KB)</span></label>
                                <input class="form-control" type="file" name="ImageFile" id="imgInp">
                                <br />
                                <img id="blah" src="#" alt="image" style="display:none" class="col-md-6 col-12" />
                                @if (Model.newsImg != null)
                                {
                                    <img src="@Url.Content(Model.newsImg)" alt="Image" id="newsImg" class="col-md-6 col-12" />
                                }

                            </div>
                            <div class="form-group">
                                <label class="col-form-label">作品資料</label>
                                <textarea name="portfolio" id="editor1" rows="10" cols="80">
                                @Model.portfolio
                                </textarea>
                                @Html.ValidationMessageFor(model => model.portfolio, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">原文連結網址</label>
                                @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.website, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">資料一</label>
                                <input type="text" name="newsfile1" value="@Model.newsfile1 " style="display:none">
                            </div>
                            <div class="form-group">
                                @if (@Model.newsfile1 != null)
                                {
                                    @Html.ActionLink(@Model.newsfile1, "DownloadFile", "News", new { file = @Model.newsfile1 }, new { id = "newsfile1" })
                                }

                            </div>
                            <div class="form-group">
                                <input class="form-control" type="file" name="news_file1">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">資料一說明</label>
                                @Html.EditorFor(model => model.file1desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.file1desc, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">資料二</label>
                                <input type="text" name="newsfile2" value="@Model.newsfile2" style="display:none">
                            </div>
                            <div class="form-group">
                                @if (@Model.newsfile2 != null)
                                {
                                    @Html.ActionLink(@Model.newsfile2, "DownloadFile", "News", new { file = @Model.newsfile2 }, new { id = "newsfile2" })
                                }
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="file" name="news_file2">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">資料二說明</label>
                                @Html.EditorFor(model => model.file2desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.file2desc, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.ActionLink("取消", "Index", "News", null, new { @class = "btn btn-secondary btn-large" })
                            <button class="btn btn-success" type="submit">儲存</button>
                        </div>
                    </div>
                    <!-- END card-->
                </form>
            </div>
        </div>
        <!-- END row-->
    </div>
</section>

@section Scripts{
    <script src="~/Content/admin/vendor/ckeditor/ckeditor.js"></script>

    <!-- sweetalert-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Content/sweetalert/sweet-alert.css" />

    <script>
        $(document).ready(function () {

            CKEDITOR.replace('editor1');

            console.log($('#is_show').val().toString() == "True");
            if ($('#is_show').val().toString() == "True") {
                $('#is_show').prop('checked', true)
            } else {
                $('#is_show').prop('checked', false)
            }


            $('#datetimepicker1').datepicker({
                format: 'yyyy/mm/dd',
                orientation: 'bottom',
                startDate: '1970/01/01',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-crosshairs',
                    clear: 'fa fa-trash'
                }
            });

            $('#datetimepicker2').datepicker({
                format: 'yyyy/mm/dd',
                orientation: 'bottom',
                startDate: '1970/01/01',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-crosshairs',
                    clear: 'fa fa-trash'
                }
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                        $('#blah').show();
                        $('#newsImg').hide();

                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
                $('#blah').show();
                $('#newsImg').hide();

            });

            $('#is_show').on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                }

            });

            var res =@(Html.Raw(Json.Encode(TempData["Message"])));
            console.log(res);
            if (res != null) {
                swal(res);
            }            
            
        });
    </script>
}